body
	font-family: $montserrat
	+f(14px, 400, 1.6)
	min-width: 320px
	+font-smoothing
	background-color: $turquoise 
	&.is-blue
		background-color: #1d354e

.light-turquoise
	color: $light-turquoise

.wrap-white
	padding: 65px 100px 107px 98px
	background-color: $white
	border-radius: 16px
	box-shadow: 0 24px 72px rgba(29, 53, 78, 0.25)
	+md
		padding: 35px 40px 48px 37px
	+sm
		padding: 20px 25px 38px 
		border-radius: 8px 