---
title: change-password
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header.html" %}
	<!-- begin login -->
	<div class="login">
		<div class="login__inner-sm inner-sm" data-cube-parent>
			<div data-cube="login-left"><img src="./img/tokens-cube-top.png" alt="cube"></div>
			<div data-cube="login-right"><img src="./img/tokens-cube-right.png" alt="cube"></div>
			<div class="login__head">
				<h2 class="login__title title-lg">Change Password</h2>
				<div class="login__description">Please, log in to see the forecasts</div>
			</div>
			<div class="login__form">
				<form action="/">
					<div class="login__out">
						<div class="login__row">
							<div class="login__col">
								<div class="input"><input type="password" placeholder="Password"></div>
							</div>
							<div class="login__col">
								<div class="input"><input type="password" placeholder="Repeat Password"></div>
							</div>
						</div>
					</div>
					<div class="login__footer">
						<button class="btn btn_lg" type="submit">Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- end login -->
	{% include "partials/home/_footer.html" %}

{% endblock %}
