<!-- begin hero -->
<div class="hero">
	<div class="hero__wrap">
		<div class="hero__inner inner-sm" data-cube-parent>
			<div class="hero__cube" data-cube="hero-left"><img src="./img/hero-cube-sm.png" alt="cube"></div>
			<div class="hero__cube" data-cube="hero-right"><img src="./img/hero-cube-lg.png" alt="cube"></div>
			<div class="hero__text">
				<h2 class="hero__title-lg title-lg">Forecasting Exchange Rates</h2>
				<div class="hero__description">of Cryptocurrencies <br>by Neural Network Algorithm</div>
				<div class="hero__footer">
					<a href="#" class="btn">Join Free For 3 Days</a>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__video">
		<div class="hero__inner inner">
			<div class="video">
				<div class="video__robot"><img src="./img/robot.png" alt="img"></div>
				<div class="video__robot-sm"><img src="./img/robot-sm.png" alt="img"></div>
				<div class="video__inner">
					<button class="video__trigger" type="button">{{ mixins.icon('play') }}</button>
					<video poster="./video/poster.png">
					    <source src="./video/main.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
					    support text
					  </video>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero -->