<!-- begin questions -->
<div class="questions">
	<div class="questions__inner inner" data-cube-parent>
		<div class="questions__wrap">
			<h2 class="questions__title-lg title-lg title-mix">Frequently Asked <span class="extra-light">Questions</span></h2>
			<div class="questions__accordions accordions">
				{% for accordion in [
					{
						title: "Why the graphic predictions for the 24 hours differs from that of the 48 hour and the weekly?",
						text: "Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different."
					},
					{
						title: "What is the charts time zone?",
						text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, labore!"
					},
					{
						title: "How accurate are the forecasts?",
						text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, labore!"
					},
					{
						title: "Why are the graphics of the forecasts so inconvenient?",
						text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, labore!"
					},
					{
						title: "What is the most accurate forecast?",
						text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, labore!"
					}
				] %}
					<div class="accordion{% if loop.index == 1 %} is-active{% endif %}">
						<div class="accordion__icon">{{ mixins.icon('arrow-right') }}</div>
						<div class="accordion__trigger">{{ accordion.title }}</div>
						<div class="accordion__content"{% if loop.index === 1 %} style="display: block;"{% endif %}>{{ accordion.text }}</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="questions__cube" data-cube="questions-left"><img src="./img/questions-cube.png" alt="cube"></div>
	</div>
</div>
<!-- end questions -->