.icon-analysis {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-api {
  width: 1.14em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.63em;
  height: 1em;
  fill: currentColor;
}
.icon-copy {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-elliott {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-improved {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-instruments {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-rocket {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-tg {
  width: 1.15em;
  height: 1em;
  fill: currentColor;
}
.icon-up {
  width: 1.6em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-yt {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
